### Actividad Final modulo 5

#### 1.- Enliste todas las librerias que utilizará

In [2]:
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### 2.- Importación y revisión de los datos Importe  ambos  sets.  Dado  que  la  fuente  de  datos  proviene  de  la  misma  base, tienen las mismas columnas. Consolide ambos sets y reporte una exploración básica de  los  datos  (numero  de  filas/columnas,  tipos  de  datos, estadísticas básicas, casos perdidos)

In [78]:
df_2009 = pd.read_csv('2009_1perc.csv')
df_2010 = pd.read_csv('2010_1perc.csv')

In [9]:
df_2009.shape

(5812, 112)

In [10]:
df_2010.shape

(6013, 112)

In [79]:
# Columnas diferentes
columnas_aux = []
for i in df_2010.columns:
    if df_2009[i].dtype != df_2010[i].dtype:
        columnas_aux.append(i)
columnas_aux

['perobs', 'addrpct', 'linecm', 'detailcm']

In [80]:
# Comparacion de variables
for i in columnas_aux:
    print(f'{i}: {df_2009[i].dtype} ----> {i}: {df_2010[i].dtype}')

perobs: float64 ----> perobs: int64
addrpct: int64 ----> addrpct: object
linecm: int64 ----> linecm: object
detailcm: int64 ----> detailcm: object

In [81]:
# Transformar tipo de columnas
for i in columnas_aux:
    df_2009[i] = df_2009[i].astype(object)
    df_2010[i] = df_2010[i].astype(object)
    
    df_2009[i] = pd.to_numeric(df_2009[i], errors='coerce')
    df_2010[i] = pd.to_numeric(df_2010[i], errors='coerce')

    df_2009[i] = df_2009[i].astype(float)
    df_2010[i] = df_2010[i].astype(float)

In [84]:
df_total = pd.concat([df_2009,df_2010], axis=0, ignore_index=True)

In [86]:
df_total.describe()

,Unnamed: 0,year,pct,ser_num,datestop,timestop,perobs,perstop,compyear,comppct,repcmd,revcmd,dob,age,ht_feet,ht_inch,weight,addrpct,linecm,detailcm
count,11825.000000,11825.000000,11825.000000,11825.000000,1.182500e+04,11825.000000,11825.000000,11825.000000,11825.0,11825.0,11825.000000,11825.000000,1.182500e+04,11825.000000,11825.000000,11825.000000,11825.000000,11824.000000,11824.0,11824.000000
mean,295983.814799,2009.508499,68.625624,5697.994334,6.364221e+06,1413.725497,2.654391,5.649556,0.0,0.0,243.354926,238.986385,7.316195e+06,28.968541,5.183340,6.408034,170.093615,68.629482,1.0,38.047023
std,170820.705702,0.499949,33.037826,5152.486022,3.429091e+06,744.726359,9.759031,9.758535,0.0,0.0,297.788599,299.394740,3.729206e+06,29.205278,0.398801,3.405503,37.195884,33.036558,0.0,25.317826
min,52.000000,2009.000000,1.000000,1.000000,1.012009e+06,0.000000,0.000000,1.000000,0.0,0.0,1.000000,1.000000,1.011900e+06,1.000000,3.000000,0.000000,1.000000,1.000000,1.0,6.000000
25%,147515.000000,2009.000000,42.000000,2002.000000,3.232009e+06,1000.000000,1.000000,3.000000,0.0,0.0,70.000000,66.000000,4.121982e+06,19.000000,5.000000,4.000000,150.000000,42.000000,1.0,20.000000
50%,296652.000000,2010.000000,73.000000,4366.000000,6.162010e+06,1605.000000,1.000000,5.000000,0.0,0.0,105.000000,103.000000,7.261982e+06,25.000000,5.000000,7.000000,170.000000,73.000000,1.0,28.000000
75%,443097.000000,2010.000000,102.000000,7840.000000,9.232009e+06,2035.000000,3.000000,5.000000,0.0,0.0,177.000000,176.000000,1.105199e+07,34.000000,5.000000,9.000000,180.000000,102.000000,1.0,46.000000
max,601281.000000,2010.000000,123.000000,31694.000000,1.231201e+07,2830.000000,926.000000,857.000000,0.0,0.0,879.000000,879.000000,1.231200e+07,999.000000,7.000000,11.000000,999.000000,123.000000,1.0,113.000000

### 3. Preprocesamiento de datos  Habrá  notado  que  los  datos  parecen  tener  ciertas  inconsistencias.  Siga  los  siguientes pasos para limpiar este set: 

- 3.1 Obtenga una lista con todas las variables categoricas que tengan entre 2 y 99 categorías (inclusive). (hint: son las variables tipo categoricas

In [91]:
variables_categoricas = df_total.select_dtypes(include=['object'])

In [126]:
variables_categoricas

,recstat,inout,trhsloc,crimsusp,typeofid,explnstp,othpers,arstmade,arstoffn,sumissue,...,aptnum,city,state,zip,sector,beat,post,xcoord,ycoord,dettypcm
0,A,O,P,CPW,P,Y,N,N,,N,...,,BRONX,,,G,7,,1013067,0238633,CM
1,A,O,P,BURG,P,Y,Y,N,,N,...,,QUEENS,,,J,,,1012043,0212157,CM
2,1,O,P,MISD,V,Y,N,N,,N,...,,BRONX,,,E,,,1017599,0240200,CM
3,A,O,P,MIS,P,Y,N,N,,N,...,,BROOKLYN,,,J,4,35,1002625,0183442,CM
4,A,O,P,CPW,P,Y,Y,N,,N,...,,QUEENS,,,H,,,1024535,0209890,CM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11820,1,O,H,MISD,P,Y,N,N,,N,...,,BROOKLYN,,,I,,,989382,155162,CM
11821,A,O,P,ROBBERY,R,Y,N,N,,N,...,,BROOKLYN,,,A,,,1012757,186018,CM
11822,A,O,P,GLA,P,Y,N,N,,Y,...,,STATEN IS,,,E,,,933868,138600,CM
11823,1,O,P,FELONY,P,Y,N,N,,N,...,,QUEENS,,,E,,,1014722,214388,CM
11824,1,I,T,CRIM MIS.,P,Y,N,N,,N,...,,MANHATTAN,,,H,11,,987078,215157,CM

In [143]:
condicion = lambda x: (len(x.value_counts()) >= 2 and len(x.value_counts()) <= 99)
var_categoricas = variables_categoricas.apply(condicion)

In [144]:
var_categoricas[var_categoricas]

recstat     True
inout       True
trhsloc     True
typeofid    True
explnstp    True
            ...
addrtyp     True
city        True
sector      True
beat        True
dettypcm    True
Length: 73, dtype: bool

#### 3.2 Reemplaze las siguientes clases faltantes: 

- Si  alguna  categoría  de  las  columnas  officrid,  offshld  o  offverb  es  igual  a  "" cambielo a 'N' y en caso contrario dejelo como 'Y'

In [149]:
# officrid,  offshld  o  offverb
df_total['offverb'].value_counts()

offverb
     9246
V    2579
Name: count, dtype: int64

In [170]:
df_total['officrid'].value_counts()

officrid
     11664
I      161
Name: count, dtype: int64

- Si alguna categoría de las columnas sector, trhsloc o beat es igual a "" (o NA, dependiendo de como haya catgado la base de datos), cambielo a 'U' y en caso contrario mantenga su valor Nota, los valores significan {N: No, Y: Yes, U: Unknown}