### Evaluacion Final Modulo 2

#### Usted cuenta con 3 archivos csv con los siguientes nombres:

In [13]:
url1 = "data-USstates-master/state-abbrevs.csv"
url2 = "data-USstates-master/state-areas.csv"
url3 = "data-USstates-master/state-population.csv"

#### 1. Cargue los tres datasets usando pandas.

In [79]:
import pandas as pd

df_abbrevs = pd.read_csv(url1)
df_area = pd.read_csv(url2)
df_population = pd.read_csv(url3)

#### 2. Revise los datos cargados y realice las modificaciones necesarias para empezar a trabajar

In [20]:
df_abbrevs.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [45]:
df_area.sample()

    state  area (sq. mi)
42  Texas         268601

In [27]:
df_area.dtypes

state            object
area (sq. mi)     int64
dtype: object

In [70]:
df_area["area (sq. mi)"] = df_area["area (sq. mi)"].astype(int)

In [80]:
df_population.dtypes

state/region     object
ages             object
year              int64
population      float64
dtype: object

#### 3. Elimine las columnas que no aportan información

#### 4. Agrupe por state/region y ages, para luego agregar usando promedio, mínimo, máximo y contar

In [82]:
df_state_age = df_population.groupby(['state/region', 'ages'])

In [100]:
mean = df_state_age.population.mean().round(2)
min = df_state_age.population.min().round(2)
max = df_state_age.population.max().round(2)
count = df_state_age.population.count().round(2)

#### 5. Forme un nuevo dataset llamado df que tenga la información de los 3 sets importados. Use las llaves necesarias.

In [103]:
max

state/region  ages
AK            total       735132.0
              under18     192636.0
AL            total      4833722.0
              under18    1134927.0
AR            total      2959373.0
                           ...
WI            under18    1370440.0
WV            total      1856680.0
              under18     436797.0
WY            total       582658.0
              under18     137733.0
Name: population, Length: 106, dtype: float64

#### 6. Calcule la población por área para cada estado. Para esto agrupe por state/region y calcule el promedio de la población. Guarde dicha información en un data frame con las columnas 'state' y 'pop/area'

#### 7. Finalmente, cree un dataframe que posea: El estado, el área, la población, la población por área y como índice la abreviación del nombre del estado.