### Evaluacion Final Modulo 2

#### Usted cuenta con 3 archivos csv con los siguientes nombres:

In [1]:
url1 = "data-USstates-master/state-abbrevs.csv"
url2 = "data-USstates-master/state-areas.csv"
url3 = "data-USstates-master/state-population.csv"

#### 1. Cargue los tres datasets usando pandas.

In [115]:
# Se cargan librerias y se guardan los csv como dataframe
import pandas as pd

df_abbrevs = pd.read_csv(url1)
df_area = pd.read_csv(url2)
df_population = pd.read_csv(url3)

#### 2. Revise los datos cargados y realice las modificaciones necesarias para empezar a trabajar

In [110]:
#Impeccion de los df para ver contenido
df_abbrevs.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [4]:
df_area.sample()

       state  area (sq. mi)
31  New York          54475

In [116]:
#Los tipos corresponden a los valores
df_area.dtypes

state            object
area (sq. mi)     int64
dtype: object

In [117]:
# Los valores numeros de population tambien corresponden
df_population.dtypes

state/region     object
ages             object
year              int64
population      float64
dtype: object

#### 3. Elimine las columnas que no aportan información

In [119]:
#Todas las columnas aportan algun tipo de informacion en este caso no existen columnas con errores y el index esta bien exportado

#### 4. Agrupe por state/region y ages, para luego agregar usando promedio, mínimo, máximo y contar

In [120]:
#Se crea groupby segun solicita encabezado
df_state_age = df_population.groupby(['state/region', 'ages'])

In [9]:
# Se exploran resultados
mean = df_state_age.population.mean().round(2)
min = df_state_age.population.min().round(2)
max = df_state_age.population.max().round(2)
count = df_state_age.population.count().round(2)

In [121]:
#En base a lo solicitado mas adelante se estima que esta es la mejor forma de agrupar los datos
grouped_df = df_population.groupby('state/region').agg({'population': ['sum', 'mean','max','min']})

In [97]:
#Se crea un DF ordenado con los elementos solicitados
df_population_region = pd.concat([grouped_df.reset_index()["state/region"].to_frame(), grouped_df.reset_index()["population"]], axis=1)

In [88]:
df_population_region.sample()

   state/region          sum          mean        max        min
50           WI  161818903.0  3.371227e+06  5742713.0  1302869.0

#### 5. Forme un nuevo dataset llamado df que tenga la información de los 3 sets importados. Use las llaves necesarias.

In [90]:
# Juntando df de abreviacion y area de region
df_abbrevs_area = pd.merge(df_abbrevs,df_area)
df_abbrevs_area.sample()

           state abbreviation  area (sq. mi)
39  Rhode Island           RI           1545

In [98]:
#Corregimos columna de df_population_region para que se pueda juntar con df_abbrevs_area
df_population_region = df_population_region.rename(columns={'state/region': 'abbreviation'})
df_population_region.sample()

   abbreviation         sum         mean        max       min
25           MS  86125578.0  1794282.875  2991207.0  733660.0

In [107]:
#Finalmente se juntan todos los df con los datos agrupados por region
df = pd.merge(df_population_region,df_abbrevs_area)
df.sample()

,abbreviation,sum,mean,max,min,state,area (sq. mi)
37,OR,103052174.0,2.146920e+06,3930065.0,742436.0,Oregon,98386

#### 6. Calcule la población por área para cada estado. Para esto agrupe por state/region y calcule el promedio de la población. Guarde dicha información en un data frame con las columnas 'state' y 'pop/area'

In [108]:
#Se renombran las columnas de la seccion anterior con los resultados ya obtenidos
df = df.drop(["max","min"], axis=1)
df = df.rename(columns={'sum': 'poblacion','mean': 'pop/area'})
df.head()

  abbreviation     poblacion      pop/area       state  area (sq. mi)
0           AK  1.998907e+07  4.164389e+05      Alaska         656425
1           AL  1.342974e+08  2.797862e+06     Alabama          52423
2           AR  8.095872e+07  1.686640e+06    Arkansas          53182
3           AZ  1.602037e+08  3.337577e+06     Arizona         114006
4           CA  1.042036e+09  2.170908e+07  California         163707

#### 7. Finalmente, cree un dataframe que posea: El estado, el área, la población, la población por área y como índice la abreviación del nombre del estado.

In [109]:
#Se convierte la columna abbreviation en index y se obtiene el df final.
df = df.set_index('abbreviation')
df.head()

                 poblacion      pop/area       state  area (sq. mi)
abbreviation
AK            1.998907e+07  4.164389e+05      Alaska         656425
AL            1.342974e+08  2.797862e+06     Alabama          52423
AR            8.095872e+07  1.686640e+06    Arkansas          53182
AZ            1.602037e+08  3.337577e+06     Arizona         114006
CA            1.042036e+09  2.170908e+07  California         163707

### Preguntas guia

- ¿Cuáles son los datos de entrada y de salida de mi algoritmo?

    **R: Los datos de entrada son archivos csv con datos relacionados pero en archivos separados, mientras que la salida es un elementos dataframe que contiene toda la informacion deforma ordenada.**

- ¿Qué variables debo declarar?

    **R: Los dataframes y los grupos creados.**
    
- ¿Qué pasos deben ser considerados en el algoritmo?

    **R: Revicion, limpieza, tratamiento.**
    
- ¿Cómo manipular datos perdidos?

    **R: Eliminando el elemento o reemplazarlo por una medida como el promedio dependiendo el caso.**