### Ejercicio 3

In [1]:
import pandas as pd

#### 1.- Crear un programa que sea capaz de leer el archivo videojuegos.csv, luego sacar el promedio de los precios y el promedio de la calificación.

In [2]:
df_videogames = pd.read_csv("videojuegos1.csv")
df_videogames

        Nombre,CalificaciÃ³n,Precio
0                   Cuphead,100,180
1              Doom eternal,99,1400
2        Horizon Zero Dawn,90,450.7
3  Resident Evil 2 Remake,95,450.88
4    Super Mario Odyssey,90,1700.05
5               Minecraft,95,550.54

In [27]:
with open('videojuegos1.csv', 'r',encoding="utf-8") as archivo:
    lineas = archivo.readlines()
lineas

['"Nombre,CalificaciÃ³n,Precio"\n',
 '"Cuphead,100,180"\n',
 '"Doom eternal,99,1400"\n',
 '"Horizon Zero Dawn,90,450.7"\n',
 '"Resident Evil 2 Remake,95,450.88"\n',
 '"Super Mario Odyssey,90,1700.05"\n',
 '"Minecraft,95,550.54"']

In [21]:
for linea in lineas:
    print(linea.split('"'))

['', 'Nombre,CalificaciÃ³n,Precio', '\n']
['', 'Cuphead,100,180', '\n']
['', 'Doom eternal,99,1400', '\n']
['', 'Horizon Zero Dawn,90,450.7', '\n']
['', 'Resident Evil 2 Remake,95,450.88', '\n']
['', 'Super Mario Odyssey,90,1700.05', '\n']
['', 'Minecraft,95,550.54', '']

In [22]:
columnas = []
for linea in lineas:
    columna = linea.split('"')[1]
    columnas.append(columna.split(','))
columnas

[['Nombre', 'CalificaciÃ³n', 'Precio'],
 ['Cuphead', '100', '180'],
 ['Doom eternal', '99', '1400'],
 ['Horizon Zero Dawn', '90', '450.7'],
 ['Resident Evil 2 Remake', '95', '450.88'],
 ['Super Mario Odyssey', '90', '1700.05'],
 ['Minecraft', '95', '550.54']]

In [28]:
nombre = []
precio = []
calificacion = []
for columna in columnas:
    nombre.append(columna[0])
    calificacion.append(columna[1])
    precio.append(columna[2])

In [40]:
datos = {
    'nombre': nombre[1:],
    'calificacion': calificacion[1:],
    'precio': precio[1:]
}

df_videogames1 = pd.DataFrame(datos)

In [41]:
df_videogames1

                   nombre calificacion   precio
0                 Cuphead          100      180
1            Doom eternal           99     1400
2       Horizon Zero Dawn           90    450.7
3  Resident Evil 2 Remake           95   450.88
4     Super Mario Odyssey           90  1700.05
5               Minecraft           95   550.54

### 2.- Se tiene el archivo videojuegos2.csv con información sobre todo el contenido de su biblioteca de videojuegos.

In [32]:
with open('videojuegos2.csv', 'r',encoding="utf-8") as archivo:
    lineas2 = archivo.readlines()
lineas2

['"Nombre,year,Consola,Calificacion,Tags(separados por ",),,,\n',
 '"The Legend of Zelda,86,Famicom,Disk System,3.5,RPG",Link,Zelda,Hyrule,Triforce\n',
 '"Double Dragon,87,Arcade,3.7,Beat-\'em up",Billy,Jimmy,PuÃ±ete,\n',
 '"The Legend of Zelda,88,NES,4.3,RPG",Link,Zelda,Hyrule,Triforce\n',
 '"Halo 5: Guardians,15,Xbox One,4,FPS",Master Chief,Cortana,Covenant,\n',
 '"Curse of Ra,82,Commodore PET,3,RPG",adventure,Temple,Apshai,\n',
 '"Battlefield 1,16,Xbox One,4.8,FPS",WWI,,,\n']

In [33]:
for linea in lineas2:
    print(linea.split('"'))

['', 'Nombre,year,Consola,Calificacion,Tags(separados por ', ',),,,\n']
['', 'The Legend of Zelda,86,Famicom,Disk System,3.5,RPG', ',Link,Zelda,Hyrule,Triforce\n']
['', "Double Dragon,87,Arcade,3.7,Beat-'em up", ',Billy,Jimmy,PuÃ±ete,\n']
['', 'The Legend of Zelda,88,NES,4.3,RPG', ',Link,Zelda,Hyrule,Triforce\n']
['', 'Halo 5: Guardians,15,Xbox One,4,FPS', ',Master Chief,Cortana,Covenant,\n']
['', 'Curse of Ra,82,Commodore PET,3,RPG', ',adventure,Temple,Apshai,\n']
['', 'Battlefield 1,16,Xbox One,4.8,FPS', ',WWI,,,\n']

In [34]:
tags = []
for linea in lineas2:
    tags.append(linea.split('"')[-1])
tags

[',),,,\n',
 ',Link,Zelda,Hyrule,Triforce\n',
 ',Billy,Jimmy,PuÃ±ete,\n',
 ',Link,Zelda,Hyrule,Triforce\n',
 ',Master Chief,Cortana,Covenant,\n',
 ',adventure,Temple,Apshai,\n',
 ',WWI,,,\n']

In [35]:
tags = [tag.strip(',') for tag in tags]
tags = [tag.strip('\n') for tag in tags]
tags[0] = 'Tag'

In [36]:
columnas2 = []
for linea in lineas2:
    columna = linea.split('"')[1]
    columnas2.append(columna.split(','))
columnas2

[['Nombre', 'year', 'Consola', 'Calificacion', 'Tags(separados por '],
 ['The Legend of Zelda', '86', 'Famicom', 'Disk System', '3.5', 'RPG'],
 ['Double Dragon', '87', 'Arcade', '3.7', "Beat-'em up"],
 ['The Legend of Zelda', '88', 'NES', '4.3', 'RPG'],
 ['Halo 5: Guardians', '15', 'Xbox One', '4', 'FPS'],
 ['Curse of Ra', '82', 'Commodore PET', '3', 'RPG'],
 ['Battlefield 1', '16', 'Xbox One', '4.8', 'FPS']]

In [37]:
for idx, columna in enumerate(columnas2):
    if idx == 0:
        continue
    tag = columna[-1]
    tags[idx] = f"{tags[idx]}, {tag}"
tags

['Tag',
 'Link,Zelda,Hyrule,Triforce, RPG',
 "Billy,Jimmy,PuÃ±ete,, Beat-'em up",
 'Link,Zelda,Hyrule,Triforce, RPG',
 'Master Chief,Cortana,Covenant,, FPS',
 'adventure,Temple,Apshai,, RPG',
 'WWI,,,, FPS']

In [38]:
nombre2 = []
year2 = []
consola2 = []
calificacion2 = []

for columna in columnas2:
    nombre2.append(columna[0])
    year2.append(columna[1])
    consola2.append(columna[2])
    calificacion2.append(columna[3])

In [44]:
datos2 = {
    'nombre': nombre2[1:],
    'year': year2[1:],
    'consola': consola2[1:],
    'calificacion': calificacion2[1:],
    'tags': tags[1:],
}

df_videogames2 = pd.DataFrame(datos2)

In [45]:
df_videogames2

,nombre,year,consola,calificacion,tags
0,The Legend of Zelda,86,Famicom,Disk System,"Link,Zelda,Hyrule,Triforce, RPG"
1,Double Dragon,87,Arcade,3.7,"Billy,Jimmy,PuÃ±ete,, Beat-'em up"
2,The Legend of Zelda,88,NES,4.3,"Link,Zelda,Hyrule,Triforce, RPG"
3,Halo 5: Guardians,15,Xbox One,4,"Master Chief,Cortana,Covenant,, FPS"
4,Curse of Ra,82,Commodore PET,3,"adventure,Temple,Apshai,, RPG"
5,Battlefield 1,16,Xbox One,4.8,"WWI,,,, FPS"

**Note que un juego aparecerá listado en el archivo una vez por cada consola
en la que fue lanzado.
La categoría del juego se especifica siempre en el primer Tag. Por ejemplo,
Double Dragon pertenece a la categoría Beat-‘em up.**

#### Desarrolle lo siguiente:
**1.- La función juegosConsolas(nomArchivo, categoria, decada) que recibe el nombre del archivo con la información de los videojuegos, una categoría y número de cuatro dígitos representando una década de años. La función retorna una tupla con 2 elementos. El primer elemento es la lista con los valores únicos de todos los juegos de esa década para esa categoría. El segundo elemento es la lista con valores únicos de todas las consolas que tienen juegos para esa década y categoría.**

*Por ejemplo, para llamar a juegosConsolas('videojuegos.csv','RPG',1980)*

*retorna: (['The legend of Zelda', 'Phantasy Star', ...], ['NES', 'Famicon Disk System', ...])*

In [ ]:
def juegosConsolas(nomArchivo, categoria, decada):
    return 
juegosConsolas("videojuegos.csv","RPG",1980)