### Ejercicio 3

In [1]:
import pandas as pd

#### 1.- Crear un programa que sea capaz de leer el archivo videojuegos.csv, luego sacar el promedio de los precios y el promedio de la calificación.

In [2]:
df_videogames = pd.read_csv("videojuegos1.csv")
df_videogames

        Nombre,CalificaciÃ³n,Precio
0                   Cuphead,100,180
1              Doom eternal,99,1400
2        Horizon Zero Dawn,90,450.7
3  Resident Evil 2 Remake,95,450.88
4    Super Mario Odyssey,90,1700.05
5               Minecraft,95,550.54

In [3]:
with open('videojuegos1.csv', 'r',encoding="utf-8") as archivo:
    lineas = archivo.readlines()
lineas

['"Nombre,CalificaciÃ³n,Precio"\n',
 '"Cuphead,100,180"\n',
 '"Doom eternal,99,1400"\n',
 '"Horizon Zero Dawn,90,450.7"\n',
 '"Resident Evil 2 Remake,95,450.88"\n',
 '"Super Mario Odyssey,90,1700.05"\n',
 '"Minecraft,95,550.54"']

In [4]:
for linea in lineas:
    print(linea.split('"'))

['', 'Nombre,CalificaciÃ³n,Precio', '\n']
['', 'Cuphead,100,180', '\n']
['', 'Doom eternal,99,1400', '\n']
['', 'Horizon Zero Dawn,90,450.7', '\n']
['', 'Resident Evil 2 Remake,95,450.88', '\n']
['', 'Super Mario Odyssey,90,1700.05', '\n']
['', 'Minecraft,95,550.54', '']

In [5]:
columnas = []
for linea in lineas:
    columna = linea.split('"')[1]
    columnas.append(columna.split(','))
columnas

[['Nombre', 'CalificaciÃ³n', 'Precio'],
 ['Cuphead', '100', '180'],
 ['Doom eternal', '99', '1400'],
 ['Horizon Zero Dawn', '90', '450.7'],
 ['Resident Evil 2 Remake', '95', '450.88'],
 ['Super Mario Odyssey', '90', '1700.05'],
 ['Minecraft', '95', '550.54']]

In [6]:
nombre = []
precio = []
calificacion = []
for columna in columnas:
    nombre.append(columna[0])
    calificacion.append(columna[1])
    precio.append(columna[2])

In [7]:
datos = {
    'nombre': nombre[1:],
    'calificacion': calificacion[1:],
    'precio': precio[1:]
}

df_videogames1 = pd.DataFrame(datos)

In [8]:
df_videogames1

                   nombre calificacion   precio
0                 Cuphead          100      180
1            Doom eternal           99     1400
2       Horizon Zero Dawn           90    450.7
3  Resident Evil 2 Remake           95   450.88
4     Super Mario Odyssey           90  1700.05
5               Minecraft           95   550.54

### 2.- Se tiene el archivo videojuegos2.csv con información sobre todo el contenido de su biblioteca de videojuegos.

In [9]:
with open('videojuegos2.csv', 'r',encoding="utf-8") as archivo:
    lineas2 = archivo.readlines()
lineas2

['"Nombre,year,Consola,Calificacion,Tags(separados por ",),,,\n',
 '"The Legend of Zelda,86,Famicom,Disk System,3.5,RPG",Link,Zelda,Hyrule,Triforce\n',
 '"Double Dragon,87,Arcade,3.7,Beat-\'em up",Billy,Jimmy,PuÃ±ete,\n',
 '"The Legend of Zelda,88,NES,4.3,RPG",Link,Zelda,Hyrule,Triforce\n',
 '"Halo 5: Guardians,15,Xbox One,4,FPS",Master Chief,Cortana,Covenant,\n',
 '"Curse of Ra,82,Commodore PET,3,RPG",adventure,Temple,Apshai,\n',
 '"Battlefield 1,16,Xbox One,4.8,FPS",WWI,,,\n']

In [10]:
for linea in lineas2:
    print(linea.split('"'))

['', 'Nombre,year,Consola,Calificacion,Tags(separados por ', ',),,,\n']
['', 'The Legend of Zelda,86,Famicom,Disk System,3.5,RPG', ',Link,Zelda,Hyrule,Triforce\n']
['', "Double Dragon,87,Arcade,3.7,Beat-'em up", ',Billy,Jimmy,PuÃ±ete,\n']
['', 'The Legend of Zelda,88,NES,4.3,RPG', ',Link,Zelda,Hyrule,Triforce\n']
['', 'Halo 5: Guardians,15,Xbox One,4,FPS', ',Master Chief,Cortana,Covenant,\n']
['', 'Curse of Ra,82,Commodore PET,3,RPG', ',adventure,Temple,Apshai,\n']
['', 'Battlefield 1,16,Xbox One,4.8,FPS', ',WWI,,,\n']

In [11]:
tags = []
for linea in lineas2:
    tags.append(linea.split('"')[-1])
tags

[',),,,\n',
 ',Link,Zelda,Hyrule,Triforce\n',
 ',Billy,Jimmy,PuÃ±ete,\n',
 ',Link,Zelda,Hyrule,Triforce\n',
 ',Master Chief,Cortana,Covenant,\n',
 ',adventure,Temple,Apshai,\n',
 ',WWI,,,\n']

In [12]:
tags = [tag.strip(',') for tag in tags]
tags = [tag.strip('\n') for tag in tags]
tags[0] = 'Tag'

In [66]:
columnas2 = []
for linea in lineas2:
    columna = linea.split('"')[1]
    columnas2.append(columna.split(','))
columnas2

[['Nombre', 'year', 'Consola', 'Calificacion', 'Tags(separados por '],
 ['The Legend of Zelda', '86', 'Famicom', 'Disk System', '3.5', 'RPG'],
 ['Double Dragon', '87', 'Arcade', '3.7', "Beat-'em up"],
 ['The Legend of Zelda', '88', 'NES', '4.3', 'RPG'],
 ['Halo 5: Guardians', '15', 'Xbox One', '4', 'FPS'],
 ['Curse of Ra', '82', 'Commodore PET', '3', 'RPG'],
 ['Battlefield 1', '16', 'Xbox One', '4.8', 'FPS']]

In [73]:
for idx, columna in enumerate(columnas2):
    if idx == 0:
        continue
    tag = columna[-1]
    tags[idx] = f"{tags[idx]}, {tag}"
tags

['Tag',
 'Link,Zelda,Hyrule,Triforce, RPG, RPG',
 "Billy,Jimmy,PuÃ±ete,, Beat-'em up, Beat-'em up",
 'Link,Zelda,Hyrule,Triforce, RPG, RPG',
 'Master Chief,Cortana,Covenant,, FPS, FPS',
 'adventure,Temple,Apshai,, RPG, RPG',
 'WWI,,,, FPS, FPS']

In [74]:
nombre2 = []
year2 = []
consola2 = []
calificacion2 = []

for columna in columnas2:
    nombre2.append(columna[0])
    year2.append(columna[1])
    consola2.append(columna[2])
    calificacion2.append(columna[3])

In [75]:
datos2 = {
    'nombre': nombre2[1:],
    'year': year2[1:],
    'consola': consola2[1:],
    'calificacion': calificacion2[1:],
    'tags': tags[1:],
}

df_videogames2 = pd.DataFrame(datos2)

In [76]:
df_videogames2

,nombre,year,consola,calificacion,tags
0,The Legend of Zelda,86,Famicom,3.5,"Link,Zelda,Hyrule,Triforce, RPG, RPG"
1,Double Dragon,87,Arcade,3.7,"Billy,Jimmy,PuÃ±ete,, Beat-'em up, Beat-'em up"
2,The Legend of Zelda,88,NES,4.3,"Link,Zelda,Hyrule,Triforce, RPG, RPG"
3,Halo 5: Guardians,15,Xbox One,4,"Master Chief,Cortana,Covenant,, FPS, FPS"
4,Curse of Ra,82,Commodore PET,3,"adventure,Temple,Apshai,, RPG, RPG"
5,Battlefield 1,16,Xbox One,4.8,"WWI,,,, FPS, FPS"

**Note que un juego aparecerá listado en el archivo una vez por cada consola
en la que fue lanzado.
La categoría del juego se especifica siempre en el primer Tag. Por ejemplo,
Double Dragon pertenece a la categoría Beat-‘em up.**

#### Desarrolle lo siguiente:
**1.- La función juegosConsolas(nomArchivo, categoria, decada) que recibe el nombre del archivo con la información de los videojuegos, una categoría y número de cuatro dígitos representando una década de años. La función retorna una tupla con 2 elementos. El primer elemento es la lista con los valores únicos de todos los juegos de esa década para esa categoría. El segundo elemento es la lista con valores únicos de todas las consolas que tienen juegos para esa década y categoría.**

*Por ejemplo, para llamar a juegosConsolas('videojuegos.csv','RPG',1980)*

*retorna: (['The legend of Zelda', 'Phantasy Star', ...], ['NES', 'Famicon Disk System', ...])*

In [28]:
# Obviando la limpieza ya que el ejercio no contempla la forma en que viene los datos en este caso
def juegosConsolas(df_videojuegos, categoria, decada):
    decada = int(str(decada)[-2:])
    nombre_juegos, nombre_consolas = [],[]
    df_videogames2['year'] = df_videogames2['year'].astype(int)

    if decada > 30:
        nombres = df_videogames2.loc[(df_videogames2["year"] >= decada)]["nombre"]
        consola = df_videogames2.loc[(df_videogames2["year"] >= decada)]["consola"]
    else:
        nombres = df_videogames2.loc[(df_videogames2["year"] >= decada) & (df_videogames2["year"] <= 30)]["nombre"]
        consola = df_videogames2.loc[(df_videogames2["year"] >= decada) & (df_videogames2["year"] <= 30)]["consola"]
    nombres = nombres.drop_duplicates()
    consola = consola.drop_duplicates()

    return (nombres.tolist(), consola.tolist())

juegosConsolas(df_videogames2,"RPG",1980)

(['The Legend of Zelda', 'Double Dragon', 'Curse of Ra'],
 ['Famicom', 'Arcade', 'NES', 'Commodore PET'])

**2.- La función crearMatriz(nomArchivo, categoria, decada) que recibe el nombre del archivo con la información de los videojuegos, el nombre de una categoría de videojuegos y un número de cuatro dígitos representando una década de años. La función deberá leer el archivo y retorna una matriz donde las filas representan los juegos de categoría para la década , las columnas representan las consolas que tienen juegos de categoría para la década y las celdas son las calificaciones de cada juego para cada consola. Si un juego no existe para una consola, su calificación deberá ser cero (0).**

In [149]:
def crearMatriz(nomArchivo, categoria, decada):
    df_categoria = df_videogames2[df_videogames2["tags"].str.contains(categoria)]
    filas = df_categoria.nombre.drop_duplicates().values
    columnas = df_categoria.consola.drop_duplicates().values

    calificacion_por_fila = {}
    consolas = []
    for i in df_categoria.nombre.drop_duplicates().values:
        consolas = consolas + (df_categoria[df_categoria["nombre"] == i].consola.tolist())
    
    for i in filas:
        lista_aux = []
        df_por_nombre = df_categoria[df_categoria["nombre"] == i]
        for j in consolas:
            calificaciones = df_por_nombre[df_por_nombre["consola"] == j].calificacion
            if len(calificaciones.values.tolist()) == 0:
                lista_aux.extend([0])
            else:
                lista_aux.extend(calificaciones.values.tolist())
            #aux = df_categoria[df_categoria["consola"] == i]
            #print(aux)
            #lista_aux.append(calificaciones.values)
        calificacion_por_fila[i] = lista_aux
    lista_aux = []
    for i in calificacion_por_fila:
        lista_aux.append(calificacion_por_fila[i])

    matriz = pd.DataFrame(lista_aux, index=filas, columns=columnas)#, data=calificacion_por_fila)
    #matriz = matriz.set_index(columnas).T

    return matriz

crearMatriz(df_videogames2, "RPG", 1980)

                    Famicom  NES Commodore PET
The Legend of Zelda     3.5  4.3             0
Curse of Ra               0    0             3

- ¿Cómo obtenemos datos desde CSV?

    **R: Con la libreria pandas y el metodo "read_csv", entregamos la url del archivo con su nombre y leemos los datos separados por coma lo que facilita su conversion a una estructura de datos Dataframe donde son facilmente accecibles**

- ¿Cómo obtenemos datos desde Excel?

    **R: De la misma forma solo que ocupando el metodo "read_excel"**