In [4]:
import pandas as pd

from utils import data_science_students
from utils import random_student, n_random_students

In [2]:
random_student()

'Marilina Fuentes'

In [8]:
# crear una serie a partir de una lista

serie_01 = pd.Series(data_science_students[:10], dtype=str)
serie_01

0      Claudio Bahamonde
1         Felipe Abarzúa
2        Diego Rodriguez
3         Javier Pizarro
4    Smilling Battaglini
5           Pamela Labbé
6       Marilina Fuentes
7         Jaime Castillo
8       Rodrigo Castillo
9         Ignacia Arenas
dtype: object

In [10]:
# crear una serie a partir de un diccionario donde la clave es el índice y el valor es el valor es el nombre

serie_02 = pd.Series(
    {
        0: "Claudio Bahamonde",
        1: "Felipe Abarzúa",
        2: "Diego Rodriguez",
        3: "Javier Pizarro",
        4: "Smilling Battaglini",
        5: "Pamela Labbé",
    }
)

serie_02

0      Claudio Bahamonde
1         Felipe Abarzúa
2        Diego Rodriguez
3         Javier Pizarro
4    Smilling Battaglini
5           Pamela Labbé
dtype: object

In [11]:
serie_01.describe()

count                    10
unique                   10
top       Claudio Bahamonde
freq                      1
dtype: object

In [12]:
serie_01.value_counts()

Claudio Bahamonde      1
Felipe Abarzúa         1
Diego Rodriguez        1
Javier Pizarro         1
Smilling Battaglini    1
Pamela Labbé           1
Marilina Fuentes       1
Jaime Castillo         1
Rodrigo Castillo       1
Ignacia Arenas         1
dtype: int64