### Ejercicio 5

## 1. Una Tabla de BINGO

**Para una tarde de bingo se usarán tablas generadas con las siguientes reglas:**

    ● Los 5 números en cada columna son aleatorios ordenados no repetidos de acuerdo al rango asignado por columna.

    ● La casilla central de la tabla tiene valor marcado cero o ‘libre’. Realice un programa para generar una tabla de bingo.

In [3]:
import numpy as np
import pandas as pd

In [23]:
bingo = {}
bingo["b"] = np.random.randint(1, 15, size= 5).tolist()
bingo["i"] = np.random.randint(16, 30, size= 5).tolist()
bingo["n"] = np.random.randint(31, 45, size= 5).tolist()
bingo["g"] = np.random.randint(46, 60, size= 5).tolist()
bingo["o"] = np.random.randint(61, 75, size= 5).tolist()

### La casilla central de la tabla tiene valor marcado cero o ‘libre’. Realice un programa para generar una tabla de bingo.

In [24]:
bingo["n"][2] = None

In [25]:
df_bingo = pd.DataFrame(bingo)

In [26]:
df_bingo

    b   i     n   g   o
0   2  19  36.0  49  62
1   6  17  37.0  57  61
2   2  23   NaN  52  68
3   5  24  36.0  47  66
4  13  22  41.0  53  69

- ¿Qué son los datos perdidos en Python?

    **R: Es cuando no existen registros para una variable en alguna de las filas del dataframe.**
    
- ¿Cómo manipular datos perdidos?

    **R: Segun el caso se puede eliminar la fila completa si tiene algun dato perdido, tambien se puede reemplazar por algun valor como la media del resto de datos o un valor que no afecte al estudio de la muestra.**